# List = []
# Tuple = ()
# Set = {}
# Dictionary = {'key':'value'}

In [3]:
l1 = [20, 10, 30, True, 'sun', [2, 4, 50, 3], 35, (20, 40, 3.5, 30)]
l1

[20, 10, 30, True, 'sun', [2, 4, 50, 3], 35, (20, 40, 3.5, 30)]

In [14]:
list1 = [20,30,40,50,60,70,80]
print (list1 [-1 : -3])

[]

In [9]:
l1 = [100,200,'sat']

In [8]:
l1*2

[20,
 10,
 30,
 True,
 'sun',
 [2, 4, 50, 3],
 35,
 (20, 40, 3.5, 30),
 20,
 10,
 30,
 True,
 'sun',
 [2, 4, 50, 3],
 35,
 (20, 40, 3.5, 30)]

In [10]:
list1 = [20,30,40,50,60,70,80]
list1

[20, 30, 40, 50, 60, 70, 80]

In [11]:
list1.append (200)           #to add any value at the end in the list, we use variable name.append
print (list1)                # we cannot add 2 values simultaneously

[20, 30, 40, 50, 60, 70, 80, 200]

In [12]:
list2 = [20,30,40,50,'sat',80]
list2

[20, 30, 40, 50, 'sat', 80]

In [13]:
list2*2                      # to print list 2 times

[20, 30, 40, 50, 'sat', 80, 20, 30, 40, 50, 'sat', 80]

In [15]:
list2 = [20,30,40,50,'sat',80]    # to print any element of list then write its index no.
print (list2[0])

20

In [17]:
print (list2[-4: -3])

[40]

In [18]:
list2.append ([20,30,40]) #adding list in list
print (list2)

[20, 30, 40, 50, 'sat', 80, [20, 30, 40]]

In [19]:
list2.insert(3,400) # to add any element inside the list. syntax = insert(index no,the no)
list2

[20, 30, 40, 400, 50, 'sat', 80, [20, 30, 40]]

In [20]:
list2.extend([500,450,55])     # to add multiple values in the list, use .extend 
print (list2)

[20, 30, 40, 400, 50, 'sat', 80, [20, 30, 40], 500, 450, 55]

In [21]:
# To delete the values, we use
''''
Del
Remove
pop

''''

SyntaxError: unterminated string literal (detected at line 7) (1417380929.py, line 7)

In [23]:
list3 =[20, 30, 48, 40, 400, 50, 'sat', 80, [20, 30, 40], 500, 450, 55]
del (list3)
print(list3)

NameError: name 'list3' is not defined

In [24]:
L1 = [20,30,40,50,60]
del(L1[1:4])              #1 and 4 are the index no of elements to be deleted
print(L1)

[20, 60]

In [25]:
L1 = [20,30,40,50,60]
L1.remove(30)
print(L1)

[20, 40, 50, 60]

In [27]:
L1 = [20,30,40,50,60]
L1.pop(2)             # We write the index no here.
print(L1)

[20, 30, 50, 60]

In [28]:
List = []
for x in [20,30,40,50]:
    List.append (x*10)
    print (List)

[200]
[200, 300]
[200, 300, 400]
[200, 300, 400, 500]

In [29]:
list1 = ['ram', 'kam', 'sam', 'aam']
list2 = sorted (list1)                    # Sorting is done on the basis of ascii values.
print (list1)
print (list2)

['ram', 'kam', 'sam', 'aam']
['aam', 'kam', 'ram', 'sam']

In [30]:
list1 = ['ram', 'kam', '20', '30', '50', 'sam', 'aam']
list2 = sorted (list1)
print (list1)
print (list2)

['ram', 'kam', '20', '30', '50', 'sam', 'aam']
['20', '30', '50', 'aam', 'kam', 'ram', 'sam']

In [31]:
l1 = [20,45,200,5,48,90,10]
sorted(l1)                         #sorted in ascending order
print(l1)

[20, 45, 200, 5, 48, 90, 10]

In [32]:
# Sort will modify the list but sorting creates a new list which contains the sorted list.

In [33]:
l1 = [20,45,200,5,48,90,10]  #To print the values in descending order
l1.sort(reverse=True)             # reverse=false means in ascending order
print(l1)

[200, 90, 48, 45, 20, 10, 5]

In [34]:
list1 = ['ram', 'kam', '20', '30', '50', 'sam', 'aam']
list1.sort(reverse=True)
print(list1)

['sam', 'ram', 'kam', 'aam', '50', '30', '20']

In [35]:
print(list1[::-1])

['20', '30', '50', 'aam', 'kam', 'ram', 'sam']

In [36]:
nums = [20,33,50,65,39,10]       #To print min of no.
min_num = min(nums)
print(min_num)

10

In [37]:
# Now lets start tuple - we cann't modify tuple.
# we have to work only with its index

In [38]:
tup1 = (2,3,70,5,'ram','kam')
len(tup1)

6

In [39]:
print(tup1*2)   # Repeating 2 times.

(2, 3, 70, 5, 'ram', 'kam', 2, 3, 70, 5, 'ram', 'kam')

In [41]:
print (2 in tup1)

True

In [42]:
print (2 not in tup1)

False

In [43]:
tup = (23,54,80,55)       # We cann't modify tuple
del(tup[0])
print(tup)

TypeError: 'tuple' object doesn't support item deletion

In [44]:
tup = (23,54,80,55)
list1 = list(tup)
print(list1)

[23, 54, 80, 55]

In [45]:
del(list1)
print(list1)

NameError: name 'list1' is not defined

In [46]:
tup = (23,54,80,55)
list1 = list(tup)
print(list1[1])

54

In [47]:
tup = (23,54,80,55)
list1 = list(tup)
del(list1[1])
print(list1)

[23, 80, 55]

In [48]:
# Sort doesn't work in tuple but sorted do work.

In [49]:
a = 'python'
b = 'training'
fee = 500
print('welcome to %s %s and fee is %f'(a,b,fee))

<>:4: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:4: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
C:\Users\soumy\AppData\Local\Temp\ipykernel_15832\4189598171.py:4: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  print('welcome to %s %s and fee is %f'(a,b,fee))

TypeError: 'str' object is not callable