In [1]:
marks = [20,30,45,50,60]
marks

[20, 30, 45, 50, 60]

In [2]:
type(marks)

list

In [3]:
marks[1]

30

In [5]:
marks = [20,40,50,55,80,[75,60,80]] #list inside list
marks

[20, 40, 50, 55, 80, [75, 60, 80]]

In [6]:
marks[5]

[75, 60, 80]

In [7]:
marks[5][1]

60

In [11]:
marks=(20,90,70,50) #tuple
marks[1]

90

In [15]:
l1 = [20,70,80,90]
l1.append[78]
print(l1)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [14]:
t1 = (50,58,95,60)
t1.append [75]
print(t1)

AttributeError: 'tuple' object has no attribute 'append'

In [20]:
for i in range (5):
 print (i)

0
1
2
3
4

In [21]:
for i in range (10,20):
    print (i)

10
11
12
13
14
15
16
17
18
19

In [22]:
for i in range (10,20,3):    #last element is the increment. Here it is a increment of 3
 print (i)

10
13
16
19

In [ ]:
list = []
tuple = ()
dictionary = {'key':'value'}

In [23]:
emp = {'emp_no':8000, 'name':'john', 'salary':65000}
emp

{'emp_no': 8000, 'name': 'john', 'salary': 65000}

In [25]:
emp ['name']

'john'

In [26]:
s1 = {25,80,65,70,80,68} #sets in ascending order
s1

{25, 65, 68, 70, 80}

In [28]:
dir (list) #all the commands of list

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [29]:
x=20.56
print (type(x))

<class 'float'>

In [30]:
int(x)  #to convert from one data type to another

20

In [31]:
x=80
float (x)

80.0

In [ ]:
# 0 will be converted to false
# non 0 will be converted to true

In [32]:
bool(6)

True

In [33]:
bool(0)

False

In [34]:
bool(0.00001)

True

In [35]:
t1= (20,80,50,70) #to convert tuple from list
list(t1)

[20, 80, 50, 70]

In [36]:
a=55
b=60
c=a+b
print(c)

115

In [37]:
a=55
b=60
c=a-b
print(c)

-5

In [38]:
a=55
b=60
c=a*b
print(c)

3300

In [42]:
a=55
b=20
c=a/b
print(c)

2.75

In [40]:
a=55
b=5
c=a%b
print(c) #it gives remainder

0

In [41]:
a=55
b=5
c=a//b
print(c) #floor division - used to get the remainder

11

In [43]:
2*2*2*2*2*2*2*2*2*2

1024

In [44]:
2**10 #exponent operator

1024

In [45]:
a=55 #assignment operator, similar for - * /
b=5
a += b #it implies a=a+b
print(a)

60

In [46]:
a=55
b=5
print(a==b)

False

In [47]:
x=500
y=500
z=x
print (x is y)

False

In [48]:
print (x is z)

True

In [49]:
x = [20,80,50]
print (20 in x)

True

In [50]:
print (10 in x)

False